body {
  margin: 0;
  min-height: 100vh;

  background-color: #e8e8e8;
  background-image:
    linear-gradient(#d8d8d8 1px, transparent 1px),
    linear-gradient(90deg, #d8d8d8 1px, transparent 1px);
  background-size: 24px 24px;

  font-family: "Roboto Mono", sans-serif;
}

.content {
  width: 100%;
  max-width: 1000px;
  min-height: 100vh;

  margin: 0 auto;
  padding: 20px;

  box-sizing: border-box;
  background: white;
}

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.item img {
    width: 200px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text h1,
.text p {
    margin: 0;
}

footer {
    background-color: white;
    max-width: 800px;
    margin: 20px auto 0;
    padding: 15px 20px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
}
